Customer Support Workflow.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "458665f0-c0ec-4f66-a428-51d5dad051ee",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "OuEqCfLUUQv7PEra",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "An email from an expected customer asking about our policies  or services ."
            },
            {
              "category": "Other",
              "description": "Any email that is not customer support related"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        192,
        16
      ],
      "id": "f771a587-1b98-407a-a3fd-a1fab7fe0e70",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        160,
        192
      ],
      "id": "d18c2fc1-f342-457e-aeac-76c42d6a5244",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "IYfpR2pjEHT4Hs0J",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        464,
        176
      ],
      "id": "461862db-914c-4fc9-a302-e1e50abe0830",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a customer support agent for Deep-x. Your job is to respond to incoming emails with relevant information using your knowledge tool.\n\n## Instructions\nYour output should be friendly and use emojis.\nSign off as Mr.sam from Deep-x \n\n## Output\nOutput only the body content of the email"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        -96
      ],
      "id": "0ac1f7e5-8cba-444c-b525-830d6d3b9b42",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        720,
        224
      ],
      "id": "d9dc90b7-822e-44c2-8ec2-3b631547bddd",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "IYfpR2pjEHT4Hs0J",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access policy and FAQ information",
        "pineconeIndex": {
          "__rl": true,
          "value": "faq",
          "mode": "list",
          "cachedResultName": "faq"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        912,
        -96
      ],
      "id": "99e22748-2816-4444-8d70-0e4139edcba6",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "UTXGBRSr74QjLmdb",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        112
      ],
      "id": "f36f1db9-1e88-4104-847a-4891f2404709",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "cTHzR4cHZsIHGzl2",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "035a165c19203b4b604bfc4fb3c75ee4e367f95a0a6ff1c26e9c88d86e5f0833"
  }
}